<html>
<head>
    <!-- <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css"> -->
</head>

<body>
    <h1>Welcome to Find Noods!</h1>
    <br>
    <p class='intro'> This simple site is intended to make it easier for those who are visually 
        impaired to have easier access to restaurant/vendor information. A lot of sites aren't compatible with
        screen readers, so this site will quickly look up vendor hours, contact info, if they partner with
        third party delivery apps, and a menu if its available.

        If you have any feedback on the app, please contact Lynda Phan via the contact form.
    </p>
    <p class='input_info'> You can look up by address or vendor name. </p>
    <form action="http://localhost:5000/" method='POST'>
        <!-- <input type='text' name='restaurant_name'>
        <input type='text' name='street_address'> -->
        <p><label>Query: (i.e. pizza, noodles)</label><input type='text' name='query'></p>
        <p><label> Address: (i.e. 123 Main Street)</label><input type='text' name='address'></p>
        <p><label>City: (i.e. Oakland)</label><input type='text' name='city'></p>
        <select name='state'>
            <option value='California'>California</option>
        </select>
        <p><input type='submit' value='submit'></p>
    </form>


<footer>
 
</footer>

</body>
</html>
